@import '@/assets/scss/_main';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: lighten($colorWhite, 5%);
  transition: background-color 1.0s ease;

  &.toggle-active {
    background-color: $colorBackground;
  }
}

.app {
  display: flex;
  min-height: 100vh;
  margin: 30px 10px;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 4rem;
  right: 2.1rem;
  width: 40px;
  height: 40px;
  border-radius: 99px;
  background-color: $colorBlack;
  cursor: pointer;
  z-index: 2;

  .hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;

    > span,
    > span::before,
    > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 99px;
      background-color: $colorWhite;
      transition-duration: .25s;
    }

    > span::before {
      content: '';
      top: -8px;
    }

    > span::after {
      content: '';
      top: 8px;
    }
  }

  &.is-active {
    .hamburger > span {
      transform: rotate(45deg);
    }

    .hamburger > span::before {
      top: 0;
      transform: rotate(0deg);
    }

    .hamburger > span::after {
      top: 0;
      transform: rotate(90deg);
    }
  }
}

.sidebar {
  flex: 1 1 0;
  max-width: 400px;
  padding: 2rem 1rem;
  background-color: $colorBackground;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;

  h3 {
    color: $colorGray;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  .menu {
    margin: 0 -1rem;
    overflow-y: auto;

    .menu-item {
      display: flex;
      align-items: center;
      padding: 1em;
      color: $colorWhite;
      text-decoration: none;
      transition: 0.25s linear;

      &:hover,
      &.is-active {
        color: $colorGray;
        border-right: 5px solid $colorGray;
      }
    }
  }

  .bgBtn {
    background-color: $colorBlue;
    color: $colorWhite;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;

    i {
      margin-right: 8px;
      transition: transform 0.3s ease;
    }

    &:hover {
      background-color: darken($colorBlue, 10%);
      cursor: pointer;

      i {
        transform: rotate(90deg);
      }
    }
  }
}

.content {
  flex: 1 1 0;
  padding: 2rem;

  h1 {
    color: $colorBlack;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    color: $colorBlue;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .menu-toggle {
    display: block;
  }

  .content {
    padding-top: 8rem;
  }

  .sidebar {
    margin-top: 60px;
    position: fixed;
    top: 0;
    left: -320px;
    height: 100vh;
    width: 100%;
    max-width: 320px;
    transition: 0.5s linear;
    overflow: auto;

    &.is-active {
      left: 0;
    }
  }
}
