
@import '@/assets/scss/_main';

body {
    overflow: hidden;
}

.containerNotes {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 490px;
    background-color: red;
  
    @media (min-width: 768px) {
      float: left;
      /*position: fixed;*/
      left: 0;
      top: 0;
      height: 100vh;
      width: 50%;
    }
  }
  
  .containerMain {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 490px;
    background-color: grey;
  
    @media (min-width: 768px) {
      float: right;
      /*position: fixed;*/
      right: 0;
      top: 0;
      height: 100vh;
      width: 50%;
    }
  }