
@import '@/assets/scss/_main';

body {
    overflow: hidden;
}

.formScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .formItens {
        display: flex;
        flex-direction: column;

        #bgInput {
            border-radius: 10px;
            padding: 15px 35px;
            background-color: lighten($colorWhite, 5%);
            border: none;
            font-family: 'Roboto', sans-serif;
            color: darken($colorGray, 20%);
            resize: none;  // Impedir redimensionamento
            font-size: 14px;
        }
        

        .smlInputs {
            display: flex;
            flex-direction: column;

            input[type="text"],
            input[type="date"],
            select {
                border-radius: 30px;
                padding: 15px 35px;
                margin-bottom: 10px;
                background-color: lighten($colorWhite, 5%);
                border: none;
                font-family: 'Roboto', sans-serif;
                color: darken($colorGray, 20%);
                font-size: 14px;
            }

            .selectInput {

                select {

                    background: url(https://www.reshot.com/preview-assets/icons/EUCMLYADT9/arrow-chevron-down-EUCMLYADT9.svg) no-repeat;
                    background-position: right 16% top 50%;
                    background-size: 15px;
                    -moz-appearance: none; 
                    -webkit-appearance: none;
                    background-color: lighten($colorWhite, 5%);
                    appearance: none;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.05);
                        cursor: pointer;
                    }

                    option {
                        background-color: lighten($colorWhite, 5%);
                    }
                }
            }

            input[type="date"] {
                cursor: text;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                cursor: pointer;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            p {
                margin-bottom: 10px;
                color: darken($colorGray, 20%);
                font-family: 'Raleway', sans-serif;
            }
        }
    }
}